
body{
    font-family:monospace !important;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    color:white !important;
}
label{
    color:white;
}
.navbar{
    background-color: #012853 !important;
    padding:1px;
}
.nav-link{
    color:white !important;
    border-radius: 25px;
}
.nav-link:hover{
   color : black !important;
    background-color: #d5e3e8;
}

.navbar-brand{
    color:white !important;
}
.navbar-brand:hover{
    color:white !important;
    font-weight:bold !important;
    
}
.navbar-toggler{
    background-color: white !important;
}
.holder{
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    height:80vh;  
    overflow-y: hidden;
    font-size:x-large;
}
.intro{
    position: relative;
    animation-name: slideup;
    animation-duration:2s;
    top:30%;
}
.about{
 position:relative;
 top:32%;
 display:none;
 animation-name:fadein;
 animation-duration: 2s;
}
@keyframes slideup {
    from{top:45%;
    opacity: 0;}
    to{top:30%;
    opacity:1;}
}
@keyframes fadein{
    from{opacity:0}
    to{opacity:1}
}
.my-pic{
    border-radius: 10px;
    box-shadow: #00000026 8px 6px 4px;
    background-color: #e5dee7;
    margin-top:5px;
}
.line{
    height:0.5px;
    width:30%;
    background-color: rgb(230, 230, 230);
    flex:1
}
span{
    color:white;
}
.pic-container{
    margin-top:30px !important;
}
.container1{
   margin-top:5% !important 
} 
.container2{
    margin-top:90px !important;
    /*background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);*/
    background-color:#012853;
    margin-bottom:50px !important;
    padding-bottom: 20px;
    margin-right:0px !important;
    box-shadow: 0px 3px 4px 3px #09112a
}
i{
    font-size: 120px;
}
i:hover{
    cursor:pointer;
}
.progress{
    height: 15px !important;
    background-color: #ffffff;
    width:70%;
    display:none;
    animation-name:fadein;
    animation-duration: 2s;
}
.progress-bar{
    background-color: black !important;
    color:white;
    animation-name:fadeleft;
    animation-duration:2s;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.72, 1.33);
}
@keyframes slideleft{
  from{left:10%}
  to{left:30%}
}
@keyframes fadeleft{
    from{width:0%}
  }
.card{
 width:50%;
 margin-left:auto;
 margin-right:auto;
 background-color:#e5dee7 !important;
 box-shadow:inset white 3px 0px 20px 0px;
 box-shadow: #857fd3 2px 3px 9px 0px;
 transition-property: transform;
 transition-timing-function: ease-in;
 transition-duration: 0.1s;
}
.card:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.card:active{
    transform: scale(1.1);
}
.cardimg{
margin-top:-12px;
border-radius: 10px !important;
}

.card2{
    width:33%
}
.card-translated{
    margin-top:-20px;
}
.card-translated:hover{
    transform: scale(1.05) !important;
}
.container3{
    margin-top:70px !important;
    margin-bottom:5%;
}
.myname{
    font-weight: bolder;
    border-radius: 25px;
    padding:5px;
    color:white;
    margin-top:3px;

}
.myname:hover{
    color : black;
    background-color: #d5e3e8;
}
.forms{
    background-color: #012853;
    border-radius: 10px;
    box-shadow: 3px 2px 8px 1px #130d0d;
}
.footer{
    background-color:black;
    width:100%;
    height:30px;
    color:#ffffffb3;
}
.addinfo{
    background-color: #e5dee7;
    padding:20%;
    border-radius: 15px;
    margin-right:-25px;
    color:black;
    box-shadow: -3px 3px 5px 1px #9d9d9d;
}
.emailbox{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.heads{
    font-weight: bolder;
}
.social{
    position:absolute;
    right:10px;
}
@media only screen and (max-width: 765px) {
    .card2 {
     width:50%;
    }
    .holder{
      height:60vh;
    }
    .rescard{
        margin-bottom:13%;
    }
    .last{
        margin-bottom:0px;
    }
    .forms{
        border-radius: 0;
        margin-bottom:50px;
    }
    .addinfo{
        margin:0;
        border-radius:0;
    }
  }
